.container{
    display: flex;
    flex-direction: row;
}

.cart-image{
    height: 150px;
    width: 30%;
    text-align: center;
}

.cart-details{
    flex-grow: 1;
    margin: 25px 50px 75px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.cart-quantity{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

.cart-button{
    margin: 10px;
}