
.payment-info-container {
    display: flex;
    flex-direction: row;

    .payment-method-container {
        flex-grow:1;
        width: 60%;

        .payment-container {
            display: flex;
            flex-direction: column;
            padding: 10px;
        
            .payment-item-container {
                flex-grow: 1;
                padding: 10px;

                .payment-method-container {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .payment-image-container {
                        display: flex;
                        flex-direction: row;
                        gap: 4px;

                        .payment-image {
                            height: 90px;
                            width: 150px;
                            border-radius: 25px;
                            padding: 10px;
                            border: 2px solid #180d83;
                            cursor: pointer;
                        }
    
                        .payment-image:hover {
                            box-shadow: 0 8px 16px 0 rgb(61, 61, 61);
                        }
                    }
                }
            }
        }
    }

    .payment-cart-summary-container {
        flex-grow: 1;
        width: 40%;
    }

    .text-center {
        text-align: center;
    }

    .address-content {
        padding: 10px;
    }

    .delivery-mode-container {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .delivery-item {
            border-radius: 25px;
            height: 90px;
            width: 150px;
            border: 2px solid #180d83;
            text-align: center;
        }

        .delivery-item:hover {
            box-shadow: 0 8px 16px 0 rgb(61, 61, 61);
        }
    }

    .error {
        font-size: small;
        color: red;
    }
}

[background-semi-transparent] {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display: block;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

[background-semi-transparent]::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

