@import "../../../vendor/components/vendor-order-detail/vendor-order-detail.component.scss";

.order-container {
    display: flex;
    flex-direction: column;
    gap:10px;
    font-family: $fontFamily;
    font-weight: 400;

    .order-menu-item-list-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .menu-item-container {
            display: flex;
            flex-direction: row;

            .menu-item-image-container {
                align-self: center;
                flex-grow: 0.3;
    
                .menu-image {
                    display: flex;
                    justify-content: center;

                    img {
                        height: 13.057vh;
                        width: 40%;
                        border-radius: 30px;
                    }
                }
            }
    
            .menu-item-description-list-container {
                flex-grow: 3;
    
                .menu-item-description-container {
                    display: flex;
                    flex-direction: column;
    
                    .menu-item-foodType {
                        flex-grow: 1;
                    }
    
                    .menu-item-itemName {
                        flex-grow: 1;
                    }
    
                    .menu-item-price {
                        flex-grow: 1;
                        padding-left: 80%;

                        .quantity-price {
                            background-color: rgb(162, 82, 228);
                            text-align: end;
                            color: white;
                            font-family: $fontFamily;
                            font-weight: 400;
                            padding: 2vh;
                            border-radius: 7px;
                        }
                    }
                }
            }
        }
    }

    .order-menu-footer-container {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .order-menu-price {
            flex-grow: 0.5;
            display: flex;
            justify-content: center;
        }

        .order-status {
            flex-grow: 1;

            .order-status-button-container {
                display: flex;
                gap: 1px;
                //justify-content: space-between;

                .order-status-item {
                    // width: 100%;
                    padding: 2px;
                }
            }

            .order-status-container {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }

    .order-timeline {
        width: 100%;
        padding: 4px;

        .order-marker {
            display: flex;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            align-items: center;
            justify-content: center;
            color: white;
            z-index: 1;
        }
    }
}

@media (max-width: 800px) {
    
    .order-container {

        .order-menu-item-list-container {
            .menu-item-container {
                .menu-item-image-container {
                    .menu-image {
                        img {
                            height: 13.057vh;
                            width: 60%;
                            border-radius: 30px;
                        }
                    }
                }
                .menu-item-description-list-container {
                    
                    .menu-item-description-container {

                        .menu-item-price {
                            padding-left: 0%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .quantity-price {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        
        .order-menu-footer-container {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .order-menu-price {
                flex-grow: 0;
                padding: 17px;
            }
        }
    }
    
}