:host ::ng-deep .p-datatable .p-datatable-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container-reset-filter {
    width: "30%";
}
.flex-container-search-box {
    width: "40%";
}
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }

    .flex-container-reset-filter {
        width: "100%";
        padding: 2px;
    }
    .flex-container-search-box {
        width: "1000%";
        padding: 2px;
    }
  }