<p-toast></p-toast>
<p-card header="Profile">
    <div class="profile-container">
        <div class="profile-piture-container">
            <div class="picture-location">
                <image-upload [imagePath]="imageUrl"
                              (uploadImageData) = "uploadImage($event)"
                              (deleteImageData) = "deleteProfileImage($event)"
                ></image-upload>
            </div>
        </div>

        <div class="profile-info-container">
            <form [formGroup]="profileForm" (ngSubmit)="submitUserInfo()">

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <input id="username" pInputText formControlName="userName"/>
                            <label htmlFor="username">Username</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <input id="userType" pInputText formControlName="userType"/>
                            <label htmlFor="userType">User Type</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <p-inputNumber id="points" formControlName="points"></p-inputNumber>
                            <label htmlFor="points">Points</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <p-inputNumber id="cartAmount" formControlName="cartAmount"></p-inputNumber>
                            <label htmlFor="cartAmount">Cart Amount</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <input id="email" pInputText formControlName="email"/>
                            <label htmlFor="email">Email</label>
                        </span>
                    </div>
                    <div *ngIf="profileForm.get('email')?.invalid" class="error">
                        <div *ngIf="profileForm.get('email')?.errors?.['required']">
                            Email is required.
                          </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-checkbox formControlName="emailConfirmed" value="true" inputId="emailConfirmed" [binary]="true"></p-checkbox>
                        <label for="emailConfirmed">Email Confirmed</label>
                    </div>
                    <div *ngIf="profileForm.get('emailConfirmed')?.invalid" class="error">
                        <div *ngIf="profileForm.get('emailConfirmed')?.errors?.['required']">
                            Please check EmailConfirmed.
                          </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <input id="phoneNumber" pInputText formControlName="phoneNumber"/>
                            <label htmlFor="phoneNumber">Phone Number</label>
                        </span>
                        <div *ngIf="profileForm.get('phoneNumber')?.invalid" class="error">
                            <div *ngIf="profileForm.get('phoneNumber')?.errors?.['required']">
                                Please enter Phone Number.
                              </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-checkbox formControlName="phoneNumberConfirmed" value="true" inputId="phoneNumberConfirmed" [binary]="true"></p-checkbox>
                        <label for="phoneNumberConfirmed">Phone Confirmed</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-checkbox formControlName="enabled" value="true" inputId="enabled" [binary]="true" ></p-checkbox>
                        <label for="enabled">Enabled</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-button type="submit" label="Save" styleClass="p-button-rounded"></p-button>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-button label="Back" styleClass="p-button-rounded p-button-secondary"></p-button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</p-card>