<p-card header="Profile">
    <div class="profile-container">
        <div class="profile-piture-container">
            <div class="picture-location">
                <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" 
                alt="Image" 
                width="250" 
                [preview]="true"></p-image>
            </div>
        </div>

        <div class="profile-info-container">
            <form [formGroup]="profileForm">

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <input id="username" pInputText [disabled]="true"  formControlName="userName"/>
                            <label htmlFor="username">Username</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <input id="userType" pInputText [disabled]="true"  formControlName="userType"/>
                            <label htmlFor="userType">User Type</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <p-inputNumber id="points" [disabled]="true"  formControlName="points"></p-inputNumber>
                            <label htmlFor="points">Points</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <p-inputNumber id="cartAmount" [disabled]="true" formControlName="cartAmount"></p-inputNumber>
                            <label htmlFor="cartAmount">Cart Amount</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <input id="email" pInputText formControlName="email"/>
                            <label htmlFor="email">Email</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-checkbox formControlName="emailConfirmed" value="true" inputId="emailConfirmed"></p-checkbox>
                        <label for="emailConfirmed">Email Confirmed</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <span class="p-float-label">
                            <input id="phoneNumber" pInputText formControlName="phoneNumber"/>
                            <label htmlFor="phoneNumber">Phone Number</label>
                        </span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-checkbox formControlName="phoneNumberConfirmed" value="true" inputId="phoneNumberConfirmed"></p-checkbox>
                        <label for="phoneNumberConfirmed">Phone Confirmed</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-checkbox formControlName="enabled" value="true" inputId="enabled"></p-checkbox>
                        <label for="enabled">Enabled</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-button label="Save" styleClass="p-button-rounded"></p-button>
                    </div>
                </div>

                <div class="col-12">
                    <div class="profile-content">
                        <p-button label="Back" styleClass="p-button-rounded p-button-secondary"></p-button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</p-card>