.profile-container {
    display: flex;
    flex-direction: row;
    padding: 10px;

    .profile-piture-container {
        flex-grow: 0.5;

        .picture-location {
            margin: auto;
            width: 50%;
        }
    }

    .profile-info-container {
        flex-grow: 1;

        .profile-content {
            padding: 10px;
        }

        .error {
            font-size: small;
            color: red;
        }
    }
}

@media (max-width: 800px) {
    .profile-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}