<div class="card">
    <p-dataView [value]="vendors">
        <ng-template pTemplate="header">List of Restaurants</ng-template>
        <ng-template let-vendor pTemplate="listItem">
            <div class="col-12">
                <div class="grid">
                    <div class="col-4">
                        <div *ngIf="vendor.image.imageFileName !== '';else showPreviewImage">
                            <img [src]="vendor.image.imageFileName"
                                alt = "Vendor image"
                                height="120px"
                                width="40%"
                            />
                        </div>
                        <ng-template #showPreviewImage>
                            <img src="assets/MenuIcons/BlankMenu.jpg"
                                alt = "Vendor image"
                                height="120px"
                                width="40%"
                            />
                        </ng-template>
                    </div>
                    <div class="col-8">
                        <div class="vendor-list-detail">
                            <div class="vendor-name">{{vendor.vendorName}}</div>
                            <div class="vendor-description">{{vendor.cuisineType}}</div>
                            <div class="vendor-description">{{vendor.area}}</div>
                        </div>
                        <div class="vendor-list-action">
                            <p-button class="menu-button" icon="pi pi-shopping-cart" label="See Menu" (click) = "callMenuDetails(vendor.id)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        
        <ng-template pTemplate="footer">Choose from the list.</ng-template>
    </p-dataView>
</div>

<p-dialog header="Location Not Set" [(visible)]="showLocationErrorDialog" class="location-not-select-dialog">
    <p>
        Please Select your location to search accurate Restaurants.
    </p>
</p-dialog>
