<div>
    <p-toast></p-toast>
    <p-breadcrumb [model]="breadItems"></p-breadcrumb>
    <p-card header="Category Detail">
        <form [formGroup]="categoryDetailForm" (ngSubmit)="submitCategoryDetailForm(categoryDetailForm)">
            <div class="p-fluid formgrid grid">
                <div class="field col-12">
                    <span class="p-float-label">
                        <input id="name" type="text" class="w-full" pInputText formControlName="name"> 
                        <label for="name">Name</label>
                    </span>
                    <div *ngIf="formControlValidation('name')" class="text-danger">
                            Please provide a name.
                    </div>
                    <!-- <div *ngIf="formControlValidation1()" class="text-danger">
                        Please provide the name.
                    </div> -->
                </div>
                <div class="field col-12 p-2">
                    <span class="p-float-label">
                        <input id="float-input" type="text" class="w-full" pInputText formControlName="description"> 
                        <label for="float-input">Description</label>
                    </span>
                </div>
                <div class="field col-6">
                    <label for="openTimings">Open Timings</label>
                    <p-calendar formControlName="openTime" [timeOnly]="true" [hourFormat]="'12'"
                        inputId="openTimings"></p-calendar>
                </div>
                <div class="field col-6">
                    <label for="closeTimings">Close Timings</label>
                    <p-calendar formControlName="closeTime" [timeOnly]="true" [hourFormat]="'12'"
                        inputId="closeTimings"></p-calendar>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton name="active" [value]="true"  formControlName="active" inputId="active"></p-radioButton>
                    <label for="active">Active</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton name="active" [value]="false"  formControlName="active" inputId="inActive"></p-radioButton>
                    <label for="inActive">InActive</label>
                </div>
                <div class="field col-12">
                    <label for="releaseDate">Category Release Date</label>
                    <p-calendar formControlName="releaseDateTime" 
                                [showTime]="true" 
                                [showSeconds]="true" 
                                inputId="releaseDate"
                                [showIcon]="true">
                    </p-calendar>
                </div>
                <div class="field col-12">
                    <p-toolbar styleClass="mb-4 gap-2">
                        <ng-template pTemplate="left">
                            <p-button 
                                severity="success" 
                                label="New" 
                                icon="pi pi-plus" 
                                class="mr-2" 
                                (click)="openNew()"
                                 />
                            <p-button 
                                severity="danger" 
                                label="Delete" 
                                icon="pi pi-trash"
                                (click) = "deleteSeletedMenuItems()"
                                [disabled]="!selectedMenuItems || !selectedMenuItems.length" 
                                />
                        </ng-template>
                    </p-toolbar>
                    
                    <ng-container *ngIf="vendorCategory !== undefined">
                        <p-table [value]="vendorCategory.categories.menuLists"
                                 [(selection)]="selectedMenuItems"
                                 [rowHover]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 4rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th>Item Name</th>
                                    <th>Type</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Rating</th>
                                    <th>Active</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                    </td>
                                    <td>{{ item.itemName }}</td>
                                    <td>{{ item.foodType }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.discount }}</td>
                                    <td> {{item.rating}} </td>
                                    <td>{{ item.active }}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr colspan="6"><p>No records found</p></tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                    
                </div>
                
                <div class="field form-button">
                    <div class="col-12">
                        <button pButton pRipple type="submit" label="Save" class="p-button-rounded w-full"></button>
                    </div>
                    <div class="col-12">
                        <button pButton pRipple type="button" label="Back" class="p-button-rounded p-button-secondary w-full" (click)="goBack()"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-card>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>