<div>
    <p-toast></p-toast>
    <p-breadcrumb [model]="breadItems"></p-breadcrumb>
    <p-card header="Category Detail">
        <form [formGroup]="categoryDetailForm" (ngSubmit)="submitCategoryDetailForm(categoryDetailForm)">
            <div class="p-fluid formgrid grid">
                <div class="field col-12">
                    <span class="p-float-label">
                        <input id="name" type="text" class="w-full" pInputText formControlName="name"> 
                        <label for="name">Name</label>
                    </span>
                    <div *ngIf="formControlValidation('name')" class="text-danger">
                            Please provide a name.
                    </div>
                    <!-- <div *ngIf="formControlValidation1()" class="text-danger">
                        Please provide the name.
                    </div> -->
                </div>
                <div class="field col-12 p-2">
                    <span class="p-float-label">
                        <input id="float-input" type="text" class="w-full" pInputText formControlName="description"> 
                        <label for="float-input">Description</label>
                    </span>
                </div>
                <div class="field col-6">
                    <label for="openTimings">Open Timings</label>
                    <p-calendar formControlName="openTime" [timeOnly]="true" [hourFormat]="'12'"
                        inputId="openTimings"></p-calendar>
                </div>
                <div class="field col-6">
                    <label for="closeTimings">Close Timings</label>
                    <p-calendar formControlName="closeTime" [timeOnly]="true" [hourFormat]="'12'"
                        inputId="closeTimings"></p-calendar>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton name="active" [value]="true"  formControlName="active" inputId="active"></p-radioButton>
                    <label for="active">Active</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton name="active" [value]="false"  formControlName="active" inputId="inActive"></p-radioButton>
                    <label for="inActive">InActive</label>
                </div>
                <div class="col-12">
                    <button pButton pRipple type="submit" label="Save" class="p-button-rounded w-full"></button>
                </div>
            </div>
        </form>
        <div class="col-12">
            <button pButton pRipple type="button" label="Back" class="p-button-rounded p-button-secondary w-full" (click)="goBack()"></button>
        </div>
    </p-card>
</div>