<div class="grid">
  <div class="col-2">
    <img src="assets/Logo/MenuLogo1.png" height="70px" width="150px" alt="MenuLogo" class="Logo" />
  </div>
  <div class="col-8">
    <div class="grid">
      <div class="col-11">
        <app-menu-bar></app-menu-bar>
      </div>
      <div class="col-1">
        <!-- <cart-icon></cart-icon> -->
      </div>
    </div>
  </div>
  <div class="col-2">
    <!-- leave here blank-->
  </div>
  <div class="col-2">
    <app-profile></app-profile>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-2">
    <!-- leave here blank-->
  </div>
</div>