<div>
  <div class="layout-sidebar">
      <img src="assets/Logo/MenuLogo1.png" height="70px" width="150px" alt="MenuLogo" class="Logo" />
      <app-menu-bar></app-menu-bar>
  </div>

  <div class="layout-content">
      <div class="p-fluid grid grid-nogutter">
        <!--1st Row-->
        <div class="col-12">
          <div class="header-layout">

            <div class="menu-button">
              <div class="col-2">
                <p-button icon="pi pi-bars" styleClass="p-button-raised p-button-text" (click)="displaySideMenuBar()"></p-button>
              </div>
              
            </div>

            <div class="space-between"></div>

            <div class="tools-container">
              <div class="col-12">
                <div class="tools-options">
                  <notification></notification>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!--2nd Row-->
        <div class="col-12 grid-noglutter">
          <router-outlet></router-outlet>
        </div>
      </div>

      <p-sidebar [(visible)]="sidebarVisible">
        <h3>Menu Admin Application</h3>
        <app-menu-bar></app-menu-bar>
    </p-sidebar>
  </div>
</div>