// :host ::ng-deep .p-tabview-panels{
//     padding: 0px !important; 
// }

.product-item{
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    flex-wrap: nowrap;
}

// .center {
//     padding: 25px 50px 25px;
//     text-align: center;
// }
.notification-list-overlay {
    width: 37.5vw;
}





@media (max-width: 800px) {
    .center {
        padding: 20px 10px 14px;
    }

    .notification-list-overlay {
        width: 50%;
    }
}
  