.image-upload{
    position: relative;
    height: 80px;
    width:100%;
    outline-color: black;
    border: 2px solid #969696;
    background: rgb(240, 234, 234);
    display: flex;
    justify-content: center;
    gap:10px;
    padding-top: 5%;
}

.image-upload:hover{
    background-color: #ddcdcd;
}

.pointer{
    cursor: pointer;
}

